@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}
html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
header{
    height: 200px;
    padding: 20px 0;
}
.logo{
    width: 40%;
}
.menu{
    padding-top: 50px;
    width: 60%;
    text-align: right;
}
.menu a{
    color: #311fa3;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 15px;
    font-size: 120%;
}
.menu input[type="button"]{
    cursor: pointer;
    background: #352c7a;
    color: white;
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 32px;
    transition: all .3s ease-in-out;
    margin-left: 10px;
}
.menu input[type="button"]{
    display: inline-block;
}
.menu input[type="button"]:hover{
    background: #4d40ad;
}
section.sobre{
    height: calc(100% - 200px);
    position: relative;
}
.extras{
    position: absolute;
    bottom: -450px;
    right: -400px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: #a799ff;
}
.redes-sociais{
    position: absolute;
    right: 400px;
    top: 200px;
}
.redes-sociais img{
    display: block;
    width: 30px;
    margin: 15px;
}
.texto-inicial{
    text-decoration: none;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 175%;
    margin-right: 15px;
}
.texto-inicial{
    position: absolute;
    left: -75%;
    top: 50px;
}
.texto-inicial p{
    margin: 50px 0;
    text-align: left;
    color: #d841de;
    font-size: 100%;
    font-weight: bolder;
    max-width: 500px;
}